services:
  # PostgreSQL база данных
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: "maxbot"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    volumes:
      - ./pgadmin/servers.json:/pgadmin4/servers.json
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80/"]
      interval: 30s
      timeout: 10s
      retries: 3

  bot:
    build:
      context: .
      dockerfile: ./deploy/Dockerfile.bot
    ports:
      - "5234:5234"
    environment:
      DB_CONNECTION_STRING: "postgresql+psycopg2://postgres:postgres@postgres:5432/maxbot"
      OCR_BASE_URL: "http://ocr:5000"
    depends_on:
      postgres:
        condition: service_healthy
      ocr:
        condition: service_healthy

  ocr:
      image: nottwist/ocr-paddle:latest
      container_name: ocr_paddle
      ports:
        - "5000:5000"
      environment:
        PYTHONUNBUFFERED: "1"
        FLASK_ENV: "production"
        USE_STUB_OCR: false
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 40s
      deploy:
        resources:
          reservations:
            devices:
              - capabilities: [gpu]
      runtime: nvidia